extends layout

block content
  h3.my-3 レコード編集
  form(method="post" action=`/titles/${title.titleId}?edit=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="titleName") タイトル
      input(type="text" name="titleName" value=title.titleName)#titleName.form-control
    div.form-group
      label(for="memo") メモ
      textarea(name="memo" placeholder="ご自由に入力してください")#memo.form-control #{title.memo}
    div.form-group
      label 既存の戦略・予想
      ul.list-group
        each strategy in strategies
          li.list-group-item #{strategy.strategyName}
      label(for="strategies").my-2 新規追加
      textarea(name="strategies" placeholder="追加分を入力してください")#strategies.form-control
    div.form-group
      label(for="result") 結果
      input(type="text" name="result" value=title.result)#result.form-control
    div
      button(type="submit").btn.btn-info 以上の内容で編集する
  form(method="post", action=`/titles/${title.titleId}?delete=1`)
    div
      p
      input(type="hidden" name="_csrf" value!=csrfToken)
      button(type="submit").btn.btn-danger このレコードを削除する