extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{title.titleName}
    div.card-body
      p(style="white-space:pre;") #{title.memo}
    div.card-footer
      p 作成者: #{title.user.username}
  - var isMine = parseInt(user.id) === title.user.userId
  if isMine
    div
      a(href=`/titles/${title.titleId}/edit`).btn.btn-info 編集する
  h3.my-3 出欠表
  table.table.table-bordered
    tr
      th 予定
      each user in users
        th #{user.username}
    each strategy in strategies
      tr
        th #{strategy.strategyName}
        each user in users
          - var aruaru = aruaruMapMap.get(user.userId).get(strategy.strategyId)
          - var aruaruLabels = ['？？？？', 'あるある', 'ないない'];
          - var buttonStyles = ['btn-secondary', 'btn-success', 'btn-danger'];
          td
            if user.isSelf
              button(class=`aruaru-toggle-button btn-lg ${buttonStyles[aruaru]}`
                data-title-id=title.titleId
                data-user-id=user.userId
                data-strategy-id=strategy.strategyId
                data-aruaru="${aruaru}") #{availabilityLabels[availability]}
            else
              h3 #{aruaruLabels[aruaru]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p
              small#self-comment #{commentMap.get(user.userId)}
            button(
              data-title-id=title.titleId
              data-user-id=user.userId)#self-comment-button.btn-xs.btn-info 編集
        else
          td
            p
              small #{commentMap.get(user.userId)}