extends layout

block content
  h4 #{title.titleName}
  p(style="white-space:pre;") #{title.memo}
  p 作成者: #{title.user.username}
  h3 皆様の返答
  table
    tr
      th 戦略
      each user in users
        th #{user.username}
    each strategy in strategies
      tr
        th #{strategy.strategyName}
        each user in users
          - var aruaru = aruaruMapMap.get(user.userId).get(strategy.strategyId)
          - var aruaruLabels = ['？？？？', 'あるある', 'ないない'];
          td
            if user.isSelf
              button(
                data-title-id=title.titleId
                data-user-id=user.userId
                data-strategy-id=strategy.strategyId
                data-aruaru=aruaru).aruaru-toggle-button #{aruaruLabels[aruaru]}
            else
              p #{aruaruLabels[aruaru]}