extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{title.titleName}
    div.card-body
      p(class="card-text" style="white-space:pre;") #{title.memo}
    div.card-footer
      p 作成者: #{title.user.username}
  div.form-group
    label(for="shareURL") 共有用 URL:
    - var herokuURL = process.env.HEROKU_URL ? process.env.HEROKU_URL : 'http://localhost:8000/'
    input(type="text" value=`${herokuURL}titles/${title.titleId}/`)#shareURL.form-control
  
  - var isMine = parseInt(user.id) === parseInt(title.user.userId)
  //なぜ表示されないか
  //なぜ保存したuserId(作成者)と閲覧しているUserIdが違うのか
  //p #{title.user.userId}
  //p #{parseInt(user.id)}
  //memoが長文でハミ出す
  div
    h6 ツイートする:
    a(href="https://twitter.com/intent/tweet?button_hashtag=舟券評議会&ref_src=twsrc%5Etfw" 
    class="twitter-hashtag-button" 
    data-text=`${herokuURL}titles/${title.titleId}/`)
    script(src="https://platform.twitter.com/widgets.js" charset="utf-8")
  h3.my-3 戦略・予想にボタンで答えてね
  table.table.table-bordered
    tr
      th 戦略・予想
      each user in users
        th #{user.username}
    each strategy in strategies
      tr
        th #{strategy.strategyName}
        each user in users
          - var aruaru = aruaruMapMap.get(user.userId).get(strategy.strategyId)
          - var aruaruLabels = ['？？？？', 'あるある', 'ないない'];
          - var buttonStyles = ['btn-secondary', 'btn-success', 'btn-danger'];
          td
            if user.isSelf
              button(class=`aruaru-toggle-button btn-lg ${buttonStyles[aruaru]}`
                data-title-id=title.titleId
                data-user-id=user.userId
                data-strategy-id=strategy.strategyId
                data-aruaru=aruaru).aruaru-toggle-button #{aruaruLabels[aruaru]}
            else
              p #{aruaruLabels[aruaru]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p#self-comment #{commentMap.get(user.userId)}
            button(
              data-title-id=title.titleId
              data-user-id=user.userId)#self-comment-button.btn-xs.btn-info コメントする
        else
          td
            p #{commentMap.get(user.userId)}
    // 作成者と閲覧者が同じ時だけ編集ボタンをつけたい
  div
    if isMine
      a(href=`/titles/${title.titleId}/edit`).btn.btn-info 編集する
      p
  div
    a(href=`/`).btn.btn-outline-primary 一覧に戻る
    p
