extends layout

block content
  div(class="panel panel-info")
    div(class="panel-heading")
      h4 #{title.titleName}
    div(class="panel-body")
      p(style="white-space:pre;") #{title.memo}
    div(class="panel-footer")
      p 作成者: #{title.user.username}
  - var isMine = parseInt(user.id) === title.user.userId
  if isMine
    div
      a(class="btn btn-info" href="/titles/#{title.titleId}/edit") 編集する
  h3 出欠表
  table(class="table table-bordered")
    tr
      th 予定
      each user in users
        th #{user.username}
    each strategy in strategies
      tr
        th #{strategy.strategyName}
        each user in users
          - var aruaru = aruaruMapMap.get(user.userId).get(strategy.strategyId)
          - var aruaruLabels = ['？？？？', 'あるある', 'ないない'];
          - var buttonStyles = ['btn-default', 'btn-success', 'btn-danger'];
          - var tdAvailabilityClasses = ['bg-default', 'bg-success', 'bg-danger'];
          td(class="#{tdAruaruClasses[aruaru]}")
            if user.isSelf
              button(class="aruaru-toggle-button btn-lg #{buttonStyles[aruaru]}"
                data-title-id="#{title.titleId}"
                data-user-id="#{user.userId}"
                data-strategy-id="#{strategy.strategyId}"
                data-aruaru="#{aruaru}") #{aruaruLabels[aruaru]}
            else
              h3 #{aruaruLabels[aruaru]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p
              small(id="self-comment") #{commentMap.get(user.userId)}
            button(class="btn-xs btn-info"
              id="self-comment-button"
              data-title-id="#{title.titleId}"
              data-user-id="#{user.userId}") 編集
        else
          td
            p
              small #{commentMap.get(user.userId)}